.infoUser {
    .infoUser__content {
        .infoUser__menu {
            width: 90px;
            height: 300px;
            background-color: #ca333a;
            border: 4px solid white;
            position: absolute;
            top: 23%;
            left: -18%;
            z-index: 1;
            .infoUser__itemsMenu {
                list-style: none;
                margin-bottom: 10px;
                button {
                    border: none;
                    padding: 18px;
                    font-size: 30px;
                    color: white;
                    background-color: transparent;
                    transition: 0.5s;
                    &:hover {
                        transition: 0.5s;
                        transform: scale(1.3);
                    }
                }
            }
        }
        .infoUser__diplay {
            width: 600px;
            border: 4px solid #ca333a;
            padding: 5%;
            background-color: white;
            box-shadow: 0 2px 40px 0 rgb(0, 0, 0);
            position: relative;
            z-index: 2;
            .infoUser__img {
                img {
                    border-radius: 50%;
                    border: 8px solid #ca333a;
                }
            }
        }
    }
}
