.home{
    .tittle{
        @include styleText(black,$fs-8,$fw-3);
    }
    .home__banner{
        background-color: #F6F6F6;
        .home__content{
            background-color: black;
            border-radius: 20px;
        }
    }
    .hr__head{
        width: 20%;
        margin: auto;
        border-top: 3px solid black;
    }
    .hr__foot{
        width: 10%;
        margin: auto;
        border-top: 3px solid black;
    }
}