.booking {
    background-color:#18181B ;
    .booking__info {
        padding-top: 120px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(190deg, rgba(23, 23, 23, 0.2) 0, black);
            z-index: 0;
        }
        .booking__infohead {
            margin-bottom: -55px;
            position: relative;
            z-index: 2;
        }
        .booking__infofoot {
            position: relative;
            background-color: #1d1e22;
            padding: 55px 0px;
            z-index: 1;
            justify-content: end;
            align-items: center;
        }
        @media screen and (max-width: 1050px) {
            .booking__infofoot {
                position: relative;
                background-color: #1d1e22;
                padding: 15px 0px;
                margin-top: 50px;
                z-index: 1;
                justify-content: center;
                align-items: flex-end;
            }
        }
        .booking__img {
            img {
                width: 325px;
                height: 405px;
                border-radius: 5px;
            }
        }
    }
    .booking__items {
        .booking__seat {
            background-color: #1d1e22;
            border-radius: 50%/100px 100px 0 0;
            .booking__screen {
                width: 50vw;
                height: 80px;
                border: solid 5px #000;
                border-color: red transparent transparent transparent;
                border-radius: 50%/20px 20px 0 0;
            }
            .booking__chair {
                width: 343px;
                flex-wrap: nowrap;
            }
        }

        .booking__price {
            .booking__priceItems {
                margin: 10px;
                justify-content: space-between;
            }
        }
    }
}
// css loai ghe
.chair__nomarl {
    padding: 12px;
    background-color: gray;
    border: gray 2px solid;
    border-radius: 2px;
}
.chair__vip {
    padding: 12px;
    background-color: rgba(255, 217, 0, 0.719);
    border: rgba(255, 217, 0, 0.719) 2px solid;
    border-radius: 2px;
}
.chair__select {
    padding: 12px;
    background-color: blue;
    border: blue 2px solid;
    box-shadow: 0px 0px 14px 0px rgba(10, 13, 233, 0.75);
    border-radius: 2px;
}
.chair__booked {
    padding: 12px;
    background-color: transparent;
    border: gray 2px solid;
    border-radius: 2px;
    cursor: no-drop;
}
.chair__user {
    padding: 12px;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 2px;
    cursor: no-drop;
}
.booking__infobtn{
    height: 10px;
    width: 5px;
}