// color
$color-2: rgba(0, 0, 0, 0.767);
$color-3: #d12800;
$color-4: #171717;
$color-5: white;
$color-6: #949494;
$color-7: #dfdfdf;
$color-8: #0a2029;

//font size
$fs-1: 14px;
$fs-2: 25px;
$fs-4: 70px;
$fs-7: 20px;
$fs-8: 44px;

//font weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 600;
$fw-4: 700;

//letter spacing
$ls-1: 1px;
$ls-2: 2px;
$ls-3: 3px;

//Padding
$pd-1: 25px;
$pd-2: 10px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;

//Margin
$mg-1: 20px;
$mg-2: 25px;
$mg-3: 150px;
$mg-4: 30px;
$mg-5: 10px;

//border
$bd-1: 1px;
$bd-2: 2px;
$bd-3: 8px;

// height & width

$hw-1: 100px;
$hw-2: 75px;
$hw-3: 50px;
$hw-4: 20px;
$hw-5: 10px;

